<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'BloquinhosWP' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>ec550f48-78c3-49c3-a71c-6756b8d67eb5</InstrumentationKey>
</ApplicationInsights>